<div class="row">
  <div class="col-sm-6">
      <div class="page-header">
        <h1>關於小兜蟲</h1>
      </div>
      <h2>性別： 男</h2>
      <h2>生日： 2011 年 3 月 24 日</h2>
      <h2>星座： 牡羊</h2>
      <h2>血型： AB</h2>
      <h2>特技： 吃到一半睡著</h2>
  </div>
  <div class="col-sm-6"><%= image_tag 'dodo.png', style: 'max-height: 600px;', class: 'img-responsive' %></div>
</div>